@font-face {
  font-family: "AppleSDGothicNeo";
  src: url(../../assets/font/AppleSDGothicNeoL.woff2) format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "AppleSDGothicNeo";
  src: url(../../assets/font/AppleSDGothicNeoR.woff2) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "AppleSDGothicNeo";
  src: url(../../assets/font/AppleSDGothicNeoM.woff2) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "AppleSDGothicNeo";
  src: url(../../assets/font/AppleSDGothicNeoB.woff2) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "NanumMyeongjo";
  src: url(../../assets/font/NanumMyeongjo-Regular.woff2) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "NanumMyeongjo";
  src: url(../../assets/font/NanumMyeongjo-Bold.woff2) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/font/Poppins-Light.woff2) format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Poppins";
  src: url(../../assets/font/Poppins-Regular.woff2) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url(../../assets/font/Poppins-Medium.woff2) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url(../../assets/font/Poppins-SemiBold.woff2) format("woff");
  font-weight: 700;
}